.filterbar
{
    padding: 20px 30px;
    width: 350px;
    padding-top: 36px;
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}


.title
{
    font-size: 34px;
    font-weight: 600;
    color: #FC575E;
}

.para
{
    font-size: 18px;
    margin-top: 0px;
    color: black;
}

.slider
{
    width: 90%;
    margin-bottom: 15px;
    /* background-color: rebeccapurple; */
}

.criteria
{
    width: 100%;
    margin-bottom: 10px;
    /* background-color: rebeccapurple; */
}

.criteriaTitle
{
    color: #FC575E;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 5px;
}

.filterButton
{
    color: #FC575E;
    background-color: white;
    border: 2px solid #FC575E;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;
    min-width: 250px;
    max-width: 250px;
}


.filterButton:hover
{
    background-color: #FC575E;
    color: white;
}