.filterbar
{
    padding: 20px 30px;
    width: 360px;
    padding-top: 36px;
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}


.title
{
    font-size: 34px;
    font-weight: 600;
    color: #FC575E;
}

.para
{
    font-size: 18px;
    margin-top: 0px;
    color: black;
}

.slider
{
    width: 90%;
    margin-bottom: 15px;
    /* background-color: rebeccapurple; */
}

.criteria
{
    width: 100%;
    margin-bottom: 10px;
    /* background-color: rebeccapurple; */
}

.criteriaTitle
{
    color: #FC575E;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 5px;
}

.filterButton
{
    color: #FC575E;
    background-color: white;
    border: 2px solid #FC575E;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;
    min-width: 100%;
    transition: 0.5s;
}


.filterButton:hover
{
    background-color: #ba242c;
    color: white;
    border-radius: 23px;
    transition: 0.5s;
}

.fees
{
    background-color: white;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

}


.priceInput
{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
}

.priceInput .field
{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.priceInput .field .inputMin, .inputMax
{
    width: 60px;
    margin-left: 10px;
    outline: none;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    /* border: 2px solid #FC575E; */
    background-color: #FC575E;
    border: 1px solid #FC575E;
    color: white;

}
.rangeInput input
{
    margin-bottom: 12px;
}


.rangeInput
{
    position: relative;

}

.rangeInput input, .slider input
{
    height: 5px;
    width: 100%;
    background: none;
    color: yellow;
}

input[type = range]::-webkit-slider-thumb
{
    background-color: #FC575E;
 }

.bookmarkFilters
{
    max-width: 360px;
    margin-bottom: 10px;
}

